.tab-pane {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
}

.infotext {
    margin-top: -1em;
    margin-left: -0.8em;
    margin-right: -0.8em;
    font-size: 0.9em;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 40px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px; /* Set the fixed height of the footer here */
	line-height: 40px; /* Vertically center the text there */
	background-color: #f5f5f5;
}